@import "./variables.scss";

.page404 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images404 {
  img {
    width: 400px;
  }
}
