@import "./variables.scss";

.skills {
  .contSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @include widthSection;
    @media (max-width: $breakpoint-movil) {
      width: 100%;
    }
  }
  &::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
    visibility: hidden;
  }
}
.blockSkills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-template-rows: 150px;
  justify-content: center;
  gap: 50px;
  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 15px;
  }
}
.imageSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70%;
    height: 150px;
    object-fit: contain;
    padding: 15px;
  }
}
