.skills {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include widthSection;
  @media (max-width: $breakpoint-tablet) {
    height: auto;
    margin: 25px auto;
  }
  @media (max-width: $breakpoint-movil) {
    width: 100%;
  }
}
.titleSection {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  color: $color-text2;
  @media (max-width: $breakpoint-tablet) {
    position: relative;
    top: 0;
  }
}
.blockSkills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-template-rows: 150px;
  justify-content: center;
  gap: 50px;
  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 15px;
  }
}
.imageSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
