$color-primary: #1565c0;
$fading-color-primary: rgba(21, 101, 192, 0.4);
$color-secondary: #721817;
$color-tertiary: #255957;
$background-body: #fdfefa;
$background-description: #051a6b;
$background-button: #ac9c91;
$color-text1: #fdfefa;
$color-text2: #051a6b;
$color-footer: #1259B2;
$hover-return:#93C1C0;
$font-main: "Nunito", sans-serif;
$font-secondary: "Roboto", sans-serif;
$breakpoint-movil: 500px;
$breakpoint-tablet: 800px;
$breakpoint-tablet-1024: 1024px;
$breakpoint-desktop-1300: 1300px;
$breakpoint-desktop-1600: 1600px;

@mixin widthSection {
  width: 75%;
  margin: 30px auto;
}

@mixin menu-span {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}
